[Unit]
Description=The Carillon server
After=syslog.target network.target nss-lookup.target

[Service]
PIDFile=/run/carillon.pid
ExecStart=/home/pi/go/src/github.com/barkbay/carillon/carillon
PrivateTmp=true

[Install]
WantedBy=multi-user.target
